@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */
.listContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 1000px;
    flex-wrap: wrap;
  }

  .input-filter {
    border: none; 
    border-bottom: 2px solid #ccc; 
    padding: 18px;
    font-size: 20px;
    margin-bottom: 20px;
    width: 350px;
    outline: none; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 4px; 
  }
  
  .input-filter:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2); 
  }
  
  .input-filter::placeholder {
    color: #888; 
    opacity: 1; 
  }
  
  .lupita{
    margin-top: 40px;
    margin-left: 15px;
  }
  
  .input-filter:focus {
    border-bottom: 2px solid #007bff;
  }

  .listTitle {
    color: #014185
  }
  
  @media (max-width: 1990px) {
    .listContainer {
      flex-direction: column;
    }
    
  .input-filter {
    width: 200px;
  }
  


  }