/* ProductItemStyle.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */
.product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: red;
    opacity: 0.6;
    max-width: 590px;
    min-height: 300px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
  }
  
  .brand-image {
    width: 100px;
    height: 50px;
    margin-left: 30px;
    margin-top: 50px;
  }
  
  .product-info {
    margin-right: 10px;
    color:gray;
    font-size: large;
  }
  
  .product-image {
    width: 150px;
    height: auto;
  }
  
  
  .product-container:hover {
    transform: scale(1.02);
    opacity: 1;
  }